@charset "utf-8";
/* Footer Start ...*/
#footer {
	width: 100%;
	height: 100px;
	background-color: #ea5532;
	padding-top: 50px;
}
#footer p {
	color: #fff;
	text-align: center;
	font-size: 14px;
}
/* Footer End ...*/